.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-dash infinite 0.5s ease-in-out;
  height: 40vmin;
}

.App-header {
  padding: 2vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title {
  max-width: 98vw;
  
}

.Pics {
  padding: 30px;
  border-radius: 10px;
  border-color: #748ab3;
  max-height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-dash {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(-10deg);
  }
}
